@import 'colors.scss';


.admin_mode{
    display: flex;
    flex-direction: column;
    .area_buttons{
        margin:2rem auto;
        display: flex;
        flex-direction: column;
        .admin_button{
            padding: 1rem 1.5rem;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            color: $outrageous-orange-100;
            background: $outrageous-orange-700;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover{
                background: $outrageous-orange-800;
            }
        }
    }
    .lista_categorias{
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        h2{
            color: $outrageous-orange-900;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
        .category_list{
            min-width: 10rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            margin: auto auto auto 0;
            background: $outrageous-orange-100;
            margin-bottom: 1rem;
            border-radius: 10px;
            border: 2px solid $outrageous-orange-950;
            .category{
                margin: auto;
                font-size: 1.5rem;
                color:$outrageous-orange-950;
            }
            .area_icons{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .icono{
                    width: 1.2rem;
                    cursor: pointer;
                    color: $outrageous-orange-800;
                    &:hover{
                        color:$outrageous-orange-900;
                    }
                }
            }
        }
    }
}