@import 'colors.scss';

.category_container {
    width: 95%;
    margin: 1rem auto;

    .portada_category{
        width: 100%;
        height: 25rem;
        background-size: cover;
        background-attachment: fixed;
        border-radius: 10px;
        margin-bottom: 1rem;
        color: $outrageous-orange-50;
        display: flex;
        flex-direction: column;
        text-shadow: 0 0 10px black;
        h2{
            margin: auto auto 0 auto;
            font-size: 5rem;
        }
        p{
            margin: 0 auto auto auto;
            font-size: 1.2rem;
        }
    }
    .product_area_category {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));

        .product_option_category {
            background: $outrageous-orange-100;
            border-radius: 0.5rem;
            position: relative;
            overflow: hidden;

            .price {
                position: absolute;
                background: rgba(0, 0, 0, 0.514);
                color: white;
                padding: 0.2rem 0.5rem;
                border-radius: 100rem;
                right: 0.2rem;
                top: 0.2rem;
            }

            img {
                width: 100%;
                cursor: pointer;
            }

            .area_product_info {
                width: 95%;
                margin: auto;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.2rem;

                h3 {
                    color: $outrageous-orange-950;
                    cursor: pointer;
                    width: fit-content;
                    &:hover {
                        background: rgba(128, 128, 128, 0.199);
                        cursor: pointer;
                    }
                }

                span {
                    color: $outrageous-orange-900;
                    width: fit-content;

                    &.fecha {
                        margin-top: 0.8rem;
                    }
                }
            }

        }
    }
}