$outrageous-orange-50:#fef5ee;
$outrageous-orange-100:#fde8d7;
$outrageous-orange-200:#fbccad;
$outrageous-orange-300:#f7a87a;
$outrageous-orange-400:#f37a44;
$outrageous-orange-500:#f16532;
$outrageous-orange-600:#e13e15;
$outrageous-orange-700:#bb2c13;
$outrageous-orange-800:#942518;
$outrageous-orange-900:#782116;
$outrageous-orange-950:#410d09;

$governor-bay-50:#eff5ff;
$governor-bay-100:#dce8fd;
$governor-bay-200:#c0d8fd;
$governor-bay-300:#95c0fb;
$governor-bay-400:#639ef7;
$governor-bay-500:#3f7af2;
$governor-bay-600:#295be7;
$governor-bay-700:#2147d4;
$governor-bay-800:#2440bc;
$governor-bay-900:#203688;
$governor-bay-950:#182353;