@import 'colors.scss';

header {
    background: $outrageous-orange-700;
    display: flex;
    flex-direction: column;
    height: 5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.295);
    h1 {
        color: $outrageous-orange-50;
        margin: auto auto auto 2rem;
    }

    .button_part {
        height: 50%;
        display: flex;
        width: 100%;
        background: $outrageous-orange-200;
        margin-bottom: 0;

        .logins {
            display: flex;
            margin: auto auto auto 2rem;

            a {
                text-decoration: none;
                font-size: 1.5rem;
                color: $outrageous-orange-950;
                transition: all 0.1s ease;

                &:hover {
                    transform: scale(1.1);
                    text-decoration: underline;
                }

                &.desactive {
                    display: none;
                }
            }
        }
    }

    .inside {
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: relative;

        a {
            text-decoration: none;
            font-size: 1.5rem;
            color: $outrageous-orange-950;
            transition: all 0.1s ease;
            &:hover {
                transform: scale(1.1);
                text-decoration: underline;
            }
        }

        span {
            text-decoration: none;
            font-size: 1.5rem;
            color: $outrageous-orange-950;
            user-select: none;
            cursor: pointer;
        }

        .my_menu {
            position: absolute;
            background: $outrageous-orange-100;
            padding: 0.3rem;
            right: 0;
            display: flex;
            flex-direction: column;
            width: 10%;
            border: 1px solid $outrageous-orange-950;
            border-radius: 0.5rem;
            .op{
                width: 100%;
                border: none;
                background: none;
                font-size: 1.2rem;
                text-align: center;
                padding:0.5rem 0;
                font-family: arial;
                cursor: pointer;
                &:hover{
                    background: $outrageous-orange-200 ;
                    text-decoration: none;
                }
            }
            .car {
                &:hover {
                    transform: scale(1);
                }
            }
        }
    }
}